{% extends 'base.html.twig' %}
{% block body %}
<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center orange-text">
      {% if mode == 'new' %}User Opening{% endif %}
      {% if mode == 'edit' %}User Edit{% endif %}
      {% if mode == 'created' %}User Created{% endif %}
      {% if mode == 'updated' %}User Updated{% endif %}
      {% if mode == 'change_password' %}Change Password{% endif %}
      {% if mode == 'updated_password' %}Password Updated{% endif %}
    </h1>
    {% if form.vars.errors|length > 0 %}
      <div class="row center">
        <h5 class="header col s12 light red-text">{{ form_errors(form) }}</h5>
      </div>
    {% endif %}
    <div class="row center">
      {% if mode == 'new' %}
        {{ form_start(form, {'action': path('user_create'), 'method': 'POST'}) }}
      {% endif %}
      {% if mode == 'edit' %}
        {{ form_start(form, {'action': path('user_update'), 'method': 'POST'}) }}
      {% endif %}
      {% if mode == 'change_password' %}
        {{ form_start(form, {'action': path('update_password'), 'method': 'POST'}) }}
          <div class="row">
            <div class="input-field col s12">
              {{ form_widget(form.password.first) }}
              {{ form_label(form.password.first) }}
              {{ form_errors(form.password.first) }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form_widget(form.password.second) }}
              {{ form_label(form.password.second) }}
              {{ form_errors(form.password.second) }}
            </div>
          </div>
      {% else %}
        <div class="row">
          <div class="input-field col s12">
            {{ form_widget(form.username) }}
            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form_widget(form.showname) }}
            {{ form_label(form.showname) }}
            {{ form_errors(form.showname) }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form_widget(form.status) }}
            {{ form_label(form.status) }}
            {{ form_errors(form.status) }}
          </div>
        </div>
        {% if mode in ['created','updated'] %}
          {{ form_widget(form.password.first, { 'attr': {'style': 'display:none'} }) }}
          {{ form_widget(form.password.second, { 'attr': {'style': 'display:none'} }) }}
        {% else %}
          <div class="row">
            <div class="input-field col s12">
              {{ form_widget(form.password.first) }}
              {{ form_label(form.password.first) }}
              {{ form_errors(form.password.first) }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form_widget(form.password.second) }}
              {{ form_label(form.password.second) }}
              {{ form_errors(form.password.second) }}
            </div>
          </div>
        {% endif %}
      {% endif %}
      {% if mode in ['new','edit','change_password'] %}
        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light right" type="submit" name="action">
              {% if mode == 'new' %}Create{% else %}Update{% endif %}
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      {% endif %}
        <div class="row">
          <div class="col s12">
            {% if mode in ['new','change_password'] %}
              <a href="/welcome" class="waves-effect waves-light btn left"><i class="material-icons">keyboard_backspace</i> Back to Main Menu</a>
            {% else %}
              <a href="/user_list" class="waves-effect waves-light btn left"><i class="material-icons">keyboard_backspace</i> Back to User Maintenance</a>
            {% endif %}
          </div>
        </div>
      {% if mode in ['new','edit','change_password'] %}
        {{ form_end(form) }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}